
.slider-app {
    
    .slider-list {

    	.slider-list-item {
    		margin-bottom: 25px;

    		.slider-list-item-inner {
    			position: relative;
    			height: 100%;
    			background-color: #FFF;
    			line-height: 1.1em;
    			border: 1px solid #D3D7DB;
    			overflow: hidden;

    			& > h3 {
    			    font-size: 1.2em;
    			    padding: 15px;
    			    position: relative;
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
    			}

    			p {
    			    padding: 15px;
    			    height: 120px;
    			    position: relative;
    			    border-bottom: 1px solid #E7E7E7;
    			    border-top: 1px solid #E7E7E7;
    			    overflow-y: auto;
    			    width: 100%;
    			}


    			.slider-list-item-inner-show {
    			    background-color: #F7F7F7;
    			    text-align: right;
    			    height: 47px;

    			    & > span {
    			        line-height: 47px;
    			        margin-left: 15px;
    			        font-size: 14px;
    			    }

    			    a {
    			        padding: 10px 15px;
    			        display: inline-block;
    			        margin: 5px;
    			        background-color: #3291D1;
    			        color: #FFF;

    			        transition: background-color .6s ease;
    			        -webkit-transition: background-color .6s ease;
    			        -moz-transition: background-color .6s ease;
    			        -o-transition: background-color .6s ease;

    			        &:hover {
    			            background-color: #0B9BFC;
    			        }
    			    }
    			}

    		}
    	}
    }

    .slider-show {

        height: 100%;

        .slider-show-actions {

            display: inline-block;
            width: 37%;

            .slide-show-stat {
                margin-bottom: 20px;
                padding: 10px;
                font-size: .8em;
                line-height: 1.4em;
                text-align: right;

                & > span {
                    display: block;
                    text-align: left;
                }

                & > a {
                    display: inline-block;
                    padding: 10px;
                    margin-top: 10px;
                }
            }

            .slider-show-progress {
                background-color:#1e2d3a;

                .progress-bar {
                    background-color: #2B3C4C;
                    height: 36px;
                    padding: 16px;
                    display: inline-block;
                    width: 80%;

                    .progress-bar-inner {
                        height: 8px;
                    }
                }

                .progress-page {
                   color: #FFF;
                   float: right;
                   padding: 0 10px;
                   line-height: 38px;
                   width: 20%;
                   text-align: center;
                   font-size: .8em;
                }
            }

            .slider-show-controlers {

                & > a {
                    background-color: #1e2d3a;
                    line-height: 30px;
                    padding: 10px;
                    color: #FFF;
                    width: 50%;
                    display: inline-block;
                    text-align: center;
                    border-top: 2px solid #EDEEEE;
                    cursor: pointer;

                    &.btn-previous-slide {
                        border-right: 2px solid #EDEEEE;
                        float: left; 
                    }

                    &.btn-next-slide {
                        float: right; 
                    }

                    &:hover {
                        background-color:#2B3C4C;
                    }
                }
            }

            .slider-show-fullscreen {
                color: #FFF;
                background: #1E2D3A;
                display: inline-block;
                padding: 15px;
                width: 100%;
                text-align: center;
                margin-top: 2px;
                cursor: pointer;

                &:hover {
                    background-color:#2B3C4C;
                }
            }

        }

        .slider-wrapper {
            width: auto;
            height: auto;
            max-width: 59%;
            margin-right: 20px;
            overflow: hidden;
            position: relative;
            text-align: center;
            float: left;

            .slide-list {

                position: relative;
                -webkit-transition: left 500ms ease;
                -moz-transition: left 500ms ease;
                -o-transition: left 500ms ease;
                transition: left 500ms ease;
                height: 100%;


                .slider-show-slide {
                    display: inline-block;
                    float: left;
                    height: 100%;

                    & > img {
                        width:100%;
                        height: auto;
                        width: auto;
                        max-height: 100%;
                        max-width: 100%;
                    }
                }
            }   

        }

        &.fullscreen {

            .slider-wrapper {
                position: fixed;
                top: 0;
                bottom: 0;
                left: 0;
                right: 0;
                z-index: 99999;
                width: 100%;
                height: 100%;
                max-width: none;
                padding-bottom: 138px;

                &::before {
                    content: "";
                    display: block;
                    position: absolute;
                    top: 0;
                    left: 0;
                    right: 0;
                    bottom: 0;
                    background-color: #000;
                }
            }

            .sliders-show-commands {
                position: fixed;
                bottom: 0;
                width: 100%;
                z-index: 9999999;
                left: 0;
                background: #EDEEEE;
            }

        }
    }
}
