
<% include ./partials/_header %>

<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
    <tr>
        <td width="100%" colspan="3" align="center" style="padding-bottom:10px;">
            <h2>Rejoignez le Miit [Name]</h2>
        </td>
    </tr>
    <tr>
        <td width="100">&nbsp;</td>
        <td width="400" align="left">
            <p>Bonjour [Email,there],
                <br/>
                <br/> Vous avez été invité à rejoindre le Miit [Name].
                <br/>
                <br/> Pour vous connecter rendez-vous sur [URL] ou cliquez sur le boutton ci-dessous
            </p>
        </td>
        <td width="100">&nbsp;</td>
    </tr>
</table>

<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
    <tr>
        <td width="200">&nbsp;</td>
        <td width="200" align="center" style="padding-top:25px;">
            <table cellpadding="0" cellspacing="0" border="0" align="center" width="200" height="50">
                <tr>
                    <td bgcolor="#2980b9" align="center" style="border-radius:4px;" width="200" height="50">
                        <a target='_blank' href="#" class='link2'>Connexion</a>
                    </td>
                </tr>
            </table>
        </td>
        <td width="200">&nbsp;</td>
    </tr>
</table>

<% include ./partials/_footer %>
