// Test sass

@import "../flex-it/master";
@import "header";
@import "apps";
@import "cases";
@import "cookies";
@import "responsive";

html, body {
	height: 100%;
}

body {
    color: #FFF;
	min-width: 530px;
}

p {
	line-height: 1.4em;
}

h2, h3.large {
	font-size: 2.4em;
	font-weight: 100;
}

h3 {
	font-weight: 100;
	font-size: 1.5em;
}

h4 {
	font-size: 1.1em;
}

.fixed {
	position: fixed;
	z-index: 9;
}

.content {
	z-index: 9;
	position: relative;
	background-color: rgb(54, 140, 192);
	padding-top: 9%;
	-webkit-transform: translate3d(0,0,0);
}

.newsletter-block {
	color: #FFF;
	margin-top: -220px;
	z-index: 999;
	-webkit-transform: translate3d(0,0,0);
	position: relative;

	.bg-separator {
		width: 100%;
		position: absolute;
		bottom: 100%;
		max-height: 550px;
		margin-bottom: 0;

		&.bg-bot {
			bottom: inherit;
			top: 100%;
		}
	}

	#create-team {
		height: 180px;

		input {
			color: #FFF;
		}

		button {
			width: 100%;
		}
	}

 	.beta-row {
 		img {
 			max-width: 65%
 		}
 	}

 	input:focus {
 		border-color: #FFF;
 	}
}


.bg-separator {
	width: 100%;
	max-height: 550px;
	margin-bottom: -5px;

	&.bg-bot {
		bottom: inherit;
		margin-top: -5px;
	}
}

.feature {

	margin-top: 20px;
	margin-bottom: 10px;
	
	i {
		float: left;
		margin-right: 20px;
		width: 80px;
		text-align: center;
	}

	p {
		  font-size: 0.9em;
		  font-weight: 100;
		  margin-top: 10px;
		  line-height: 1.3em;
		  padding-left: 101px;	
	}
}


.social {
	color: #FFF;
	-webkit-transition: background-color .6s ease-out;
	-moz-transition: background-color .6s ease-out;
	-o-transition: background-color .6s ease-out;
	transition: background-color .6s ease-out;
	padding: 30px 0;
	border-radius: 5px;
	display: block;
	line-height:2.6em;
	font-size: .9em;

	i {
		font-size: 2.6em;
		-webkit-transition: color .6s ease-out;
		-moz-transition: color .6s ease-out;
		-o-transition: color .6s ease-out;
		transition: color .6s ease-out;
		vertical-align: top;
	}

	&:hover {

		.fa-twitter-square {
			color: #00aced;
		}
		.fa-facebook-square {
			color: #3b5998;
		}
		.fa-youtube-square {
			color: #bb0000;
		}
		.fa-google-plus-square {
			color: #dd4b39;
		}
	}
}

.news-letter {

	.btn {
		width: 100%;
	}

	input {
  		color: #FFF;
	}
}

.keep-contact {
	overflow: hidden;

	.input-field {
		border-color: #FFF;

		input::-webkit-input-placeholder {
		   color: #FFF;
		}

		input:-moz-placeholder { /* Firefox 18- */
		   color: #FFF;  
		}

		input::-moz-placeholder {  /* Firefox 19+ */
		   color: #FFF;  
		}

		input:-ms-input-placeholder {  
		   color: #FFF;  
		}

	}
}


.video-container {
    position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}
 
.video-container iframe,
.video-container object,
.video-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.ie9 {
	.header {
		.banner {
			padding-top: 10%;
		}
	}
}