<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=530, user-scalable=no">
    
    <meta name="description" content="Miit est une application web qui va changer motre manière de communiquer au sein de vos équipes ou de votre audience.">
    <meta name="keywords" content="miit,application,applications,audience,projets,espace,équipes">
    <meta name="author" content="ITEvents">
    <meta name="language" content="fr-FR">
    
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />

    <meta property="og:title" content="Miit - Améliorez votre communication">
    <meta property="og:image" content="https://www.miit.fr/img/facebook-opengraph.jpg">
    <meta property="og:site_name" content="Miit - Améliorez votre communication">
    <meta property="og:description" content="Miit est une application web qui va changer motre manière de communiquer au sein de vos équipes ou de votre audience.">
    <meta property="og:locale" content="FR_fr">
    <meta property="og:video" content="https://www.facebook.com/video.php?v=849562615096753">
    <meta property="article:author" content="https://www.facebook.com/NiceToMiitYou">

    <meta name="twitter:card" content="summary">
    <meta name="twitter:site" content="@NiceToMiitYou">
    <meta name="twitter:title" content="Miit - Améliorez votre communication">
    <meta name="twitter:image" content="https://www.miit.fr/img/facebook-opengraph.jpg">
    <meta name="twitter:description" content="Miit est une application web qui va changer motre manière de communiquer au sein de vos équipes ou de votre audience.">

    <link rel="author" href="https://plus.google.com/u/0/+MiitFrapp">
    <link rel="publisher" href="https://plus.google.com/u/0/+MiitFrapp">

    <link rel="stylesheet" href="/dist/css/font-awesome/master.min.css">
    <link rel="stylesheet" href="/dist/css/flex-it/master.min.css">
    <link rel="stylesheet" href="/dist/css/www/master.min.css">
    <!--[if lt IE 9]>
        <link rel="stylesheet" href="/dist/css/ie8/master.min.css">
    <![endif]-->
    <title>Miit - Améliorez votre communication</title>
</head>
<body>
    <header class="header" id="header">
        <nav class="menu" id="menu">
            <div class="container">
                <span class="logo">
                    <img src="/img/logo-miit-white.png" alt="Logo Miit"> <span>Miit</span>
                </span>
                <div class="pull-right sn">
                    <a href="https://twitter.com/NiceToMiitYou/" target="_blank"><i class="fa fa-twitter-square"></i></a>
                    <a href="https://www.facebook.com/NiceToMiitYou" target="_blank"><i class="fa fa-facebook-square"></i></a>
                    <a href="https://plus.google.com/u/0/+MiitFrapp/about" target="_blank"><i class="fa fa-youtube-square"></i></a>
                    <a href="https://www.youtube.com/channel/UCHiEdBJHbVu0chhVZrsFMkA" target="_blank"><i class="fa fa-google-plus-square"></i></a>
                </div>
            </div>
        </nav>
        <div class="container banner valign-wrapper">
            <div class="row valign">
                <div class="fixed">
                    <div class="col-sm-12 pt20">
                        <h1>Changez votre manière de communiquer</h1>
                        <span class="mt20">avec Miit, une application web qui s'adapte à vos besoins</span>
                    </div>
                </div>
            </div>
        </div>
        <canvas id="canvas"></canvas>
    </header>
    
    <div class="bg-blue-grey newsletter-block">
        <img src="/img/background-www.png" class="bg-separator" alt="background">
        <div class="container pt20">
            <h2>Inscrivez-vous dès maintenant</h2>
            <p class="pt10 text-100">Restez informés et bénéficiez d'une relation privilégiée avec nos équipes.</p>
            <div id="create-team">
                <form class="miit-component news-letter">
                    <div class="row pt30 pb20">
                        <div class="col-md-8 mb10">
                            <div class="input-field left-icon icon-transparent push0 pt5 pb5">
                                <i class="fa fa-envelope-o pt5 pl5 pb5"></i>
                                <input type="text" placeholder="Votre adresse mail" />
                            </div>
                        </div>
                        <div class="col-md-4 mb10">
                            <button type="submit" class="btn btn-info pl10 pr10 pt15 pb15">S'inscrire à la Newsletter</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="row beta-row pb20">
                <div class="col-xs-2">
                    <img src="/img/beta.png" alt="Beta">
                </div>
                <div class="col-xs-10">
                    <p class="text-100"><strong>Miit</strong> est toujours en développement, et pour que nous puissions répondre le mieux possible à vos besoins et à votre envie de communiquer, nous avons besoin de <strong>votre aide.</strong></p><br>
                    <p class="text-100"><strong>Inscrivez-vous à la newsletter</strong> pour recevoir des accès bêta à la plateforme dès son ouverture. Vous aurez la possibilité d'échanger autant que vous le souhaitez avec nos équipes sur tous les sujets.</p>
                </div>
            </div>
        </div>
        <img src="/img/background-www-bottom.png" class="bg-separator bg-bot">
    </div>
    
    <div class="content">
        <div class="container">
            <div class="row">
                <div class="col-md-4 col-sm-4">
                    <img src="/img/illustration2.png" class="mb20" style="max-width:100%;"/>
                </div>

                <div class="col-md-8 col-sm-8">
                    <h2 class="large">Construisez un espace unique</h2>
                    <p class="mt10 mb30">Installez autant d'applications que vous le souhaitez pour créer un espace qui répond exactement à vos besoins.</p>
                </div>
            </div>
        </div>

        <div>
            <img src="/img/background-www-top.png" class="bg-separator" alt="background">
            <div class="bg-blue-grey">

                <div class="container pt50 pb50">
                    <h2>Plusieurs applications déjà disponibles</h2>
                    <p id="apps-desc" class="mt20 text-100">Miit a choisi de séparer chacune de ses fonctionnalités en <strong>Applications</strong> pour vous fournir un maximum de flexibilité et vous permettre de personnaliser votre environnement de communication comme vous le souhaitez.</p>

                    <div class="apps row mt30">
                        <div class="app done col-md-2 col-sm-4 col-xs-6" id="app1">
                            <span><i class="fa fa-circle-o stat-open"></i> Disponible</span>
                            <i class="fa fa-comments-o"></i>
                            <div class="odd">
                                Chat
                                <p>Communiquez en direct avec vos équipes ou votre public.</p>
                            </div>
                        </div>

                        <div class="app done col-md-2 col-sm-4 col-xs-6" id="app2">
                            <span><i class="fa fa-circle-o stat-open"></i> Disponible</span>
                            <i class="fa fa-check-square-o"></i>
                            <div>
                                Questionnaires
                                <p>Interrogez simplement votre audience.</p>
                            </div>
                        </div>

                        <div class="app done col-md-2 col-sm-4 col-xs-6" id="app3">
                            <span><i class="fa fa-circle-o stat-open"></i> Disponible</span>
                            <i class="fa fa-folder-open-o"></i>
                            <div class="odd">
                                Partage de documents
                                <p>Distribuez facilement vos fichiers.</p>
                            </div>
                        </div>

                        <div class="app  col-md-2 col-sm-4 col-xs-6" id="app4">
                            <span><i class="fa fa-circle-o stat-config"></i> Bientôt disponible</span>
                            <i class="fa fa-question-circle"></i>
                            <div> 
                                Mur de questions
                                <p>Offrez à votre audience la possibilité de vous poser des questions.</p>
                            </div>
                        </div>

                        <div class="app col-md-2 col-sm-4 col-xs-6" id="app5">
                            <span><i class="fa fa-circle-o stat-config"></i> Bientôt disponible</span>
                            <i class="fa fa-tasks"></i>
                            <div class="odd">To-do list
                                <p>Suivez et gérez les tâches de votre groupe.</p>
                            </div>
                        </div>

                        <div class="app col-md-2 col-sm-4 col-xs-6" id="app6">
                            <span><i class="fa fa-circle-o stat-config"></i> Bientôt disponible</span>
                            <i class="fa fa-calendar"></i>
                            <div>
                                Calendrier
                                <p>Partagez un emploi du temps avec vos utilisateurs.</p>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div>
            <div class="bg-blue-grey">
                <div class="container pb30">
                    <h2>Quelques cas d'utilisation</h2>
                    <div class="row mt10">
                        <div class="col-md-12 case mt30">
                            <div>
                                <div class="case-header">
                                    <img src="/img/face1.png" class="pull-left mr20"> 
                                    <span onclick="openApp(1, 2, 4)"><i class="fa fa-eye fa-2x"></i> <p>Voir les applications qui m'intéressent</p></span>
                                </div>
                                <h3>Vous organisez des conférences ?</h3>
                                <p class="mt10 text-100 desc">Améliorez l'interactivité de vos conférences en recueillant les questions de votre public sans perturber votre présentation. Répondez-y le moment venu sans même avoir à faire passer de micro. Vous pouvez également inverser les rôles en sondant votre public pour adapter au mieux votre discours à votre audience.</p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-12 case mt30">
                            <div>
                                <div class="case-header">
                                    <img src="/img/face2.png" class="pull-left mr20"> 
                                    <span class="odd" onclick="openApp(1, 2, 3, 6)"><i class="fa fa-eye fa-2x"></i> <p>Voir les applications qui m'intéressent</p></span>
                                </div>
                                <h3>Vous faîtes beaucoup de réunions ?</h3>
                                <p class="mt10 text-100 desc">Il n'est pas toujours simple de donner la parole à tout le monde pendant vos réunions ou d'arriver à definir des solutions claires à la fin. Miit va permettre à tout le monde de donner son avis, de voter pour des solutions précises, d'avoir accès aux documents que vous souhaitez partager et, une fois terminée, de garder une image claire de votre réunion pour y revenir quand vous le désirez.</p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-12 case mt30">
                            <div>
                                <div class="case-header">
                                    <img src="/img/face3.png" class="pull-left mr20"> 
                                    <span onclick="openApp(1, 3, 5, 6)"><i class="fa fa-eye fa-2x"></i> <p>Voir les applications qui m'intéressent</p></span>
                                </div>
                                <h3>Vous gérez des projets toujours plus compliqués ?</h3>
                                <p class="mt10 text-100 desc">Suivez l'évolution de vos différents projets ainsi que l'avancement de vos équipes tâche après tâche. Organisez et partagez vos calendriers avec qui vous le souhaitez en contrôlant les droits d'accès et de modification de chacun en quelques clics.</p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                        <div class="col-md-12 case mt30">
                            <div>
                                <div class="case-header">
                                    <img src="/img/face4.png" class="pull-left mr20"> 
                                    <span class="odd" onclick="openApp(1, 2, 3, 4, 5, 6)"><i class="fa fa-eye fa-2x"></i> <p>Voir les applications qui m'intéressent</p></span>
                                </div>
                                <h3>Vous avez d'autres besoins ?</h3>
                                <p class="mt10 text-100 desc">La force de Miit réside dans son pouvoir de personnalisation. Vous pouvez composer votre espace en fonction de vos besoins du moment et enregistrer votre modèle pour le réutiliser plus tard.</p>
                                <div class="clearfix"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <img src="/img/background-www-bottom-2.png" class="bg-separator bg-bot"  alt="background">
        </div>

        <div class="keep-contact">
            <div class="container">
                <div class="row mt20">
                    <div class="col-md-6">
                        <div class="video-container mb20">
                            <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/ctujCxl7xic?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
                        </div>
                    </div>

                    <div class="col-md-6">
                        <h2>Gardez le contact</h2>
                        <p class="mt20">Restez au courant de nos dernières nouveautés en vous inscrivant à la newsletter.</p>
                        <div id="keep-contact">
                            <form class="miit-component news-letter">
                                <div class="row pt30">
                                    <div class="col-md-8 mb10">
                                        <div class="input-field left-icon icon-transparent push0 pt5 pb5">
                                            <i class="fa fa-envelope-o pt5 pl5 pb5"></i>
                                            <input type="text" placeholder="Votre adresse mail" />
                                        </div>
                                    </div>
                                    <div class="col-md-4 mb10">
                                        <button type="submit" style="width:100%;" class="btn btn-dark pl10 pr10 pt15 pb15">S'inscrire</button>
                                    </div>
                                </div>
                            </form>
                        </div>


                        <p class="mt20 mb10">Ou suivez-nous sur les réseaux sociaux.</p>
                        <div class="row">
                            <a class="social col-sm-3 col-xs-6 center" href="https://twitter.com/NiceToMiitYou/" target="_blank">
                                <i class="fa fa-twitter-square mr5"></i>
                                Twitter
                                <div class="clearfix"></div>
                            </a>
                            <a class="social col-sm-3 col-xs-6 center" href="https://www.facebook.com/NiceToMiitYou" target="_blank">
                                <i class="fa fa-facebook-square mr5"></i>
                                Facebook
                                <div class="clearfix"></div>
                            </a>
                            <a class="social col-sm-3 col-xs-6 center" href="https://plus.google.com/u/0/+MiitFrapp/about" target="_blank">
                                <i class="fa fa-google-plus-square mr5"></i>
                                Google+
                                <div class="clearfix"></div>
                            </a>
                            <a class="social col-sm-3 col-xs-6 center" href="https://www.youtube.com/channel/UCHiEdBJHbVu0chhVZrsFMkA" target="_blank">
                                <i class="fa fa-youtube-square mr5"></i>
                                Youtube
                                <div class="clearfix"></div>
                            </a>
                        </div>
                    </div>

                </div>
            </div>
        </div>

        <footer>

            <img src="/img/background-www-top.png" class="bg-separator" alt="background">
            <div class="bg-blue-grey">
                <div class="container pt30 pb30">
                    <span class="text-white">© Copyright ITEvents 2015</span>
                </div>
            </div>

        </footer>

    </div>
    <!--[if lt IE 9]>
        <script type="text/javascript" src="/dist/lib/excanvas.js"></script>
        <script type="text/javascript" src="/dist/lib/es5-shim.min.js"></script>
        <script type="text/javascript" src="/dist/lib/es5-sham.min.js"></script>
    <![endif]-->
    <script type="text/javascript" src="/dist/js/lib.min.js"></script>
    <script type="text/javascript" src="/dist/js/www.min.js"></script>
</body>
</html>