
.documents-app {

    .documents-list {

        .btn-upload {
            position: absolute;
            top: 18px;
            right: 25px;
        }

        .list {
            display: table;
            width: 100%;
            border: 1px solid #e7e7e7;

            .documents-list-item {
                display: table-row;
                font-size: .9em;
                background-color: #FFF;

                &:hover {
                    background-color: #EFEFEF;
                }

                &:nth-child(odd) {

                    & > span {
                        border-top: 1px solid #EEE;
                        border-bottom: 1px solid #EEE;
                    }

                }

                 & > span {
                    display: table-cell;
                    padding: 15px;
                    vertical-align: middle;
                 }

                .document-icon {
                    width: 50px;
                    text-align: center;

                    i {
                        font-size: 1.3em;
                    }
                }

                .document-size {
                    width: 110px;
                }

                .document-type {
                    width: 50px;
                }

                .document-name {
                    line-height: 1.4em;
                }

                .document-actions {
                    width: 250px;

                    & > span {

                        cursor: pointer;

                        &.action-download {

                        }

                        &.action-delete {

                        }
                    }
                }
            }

            .documents-list-header {
                display: table-row;
                background-color: #FFF;

                & > span {
                    display: table-cell;
                    padding: 15px;
                    vertical-align: middle;

                    border-bottom: 1px solid #EEE;
                }

                .document-size {
                    width: 90px;
                }   

                .document-type {
                    width: 50px;
                }

                .document-actions {
                    width: 250px;
                }
            }
        }
    }    
}
