.app-store-list {

	.app-store-list-item {
		display: inline-block;
		width: 160px;
		margin-right: 15px;
		padding: 0px;
		position: relative;
		overflow: hidden;
		text-align: left;


		span.app-icon {

			position: relative;

			& > i {
				font-size: 3em;
				color: #FFF;
				line-height: 130px;
				padding-bottom: 30px;
				width: 100%;
				text-align: center;
			}

		}

		div.app-desc {
			font-size: .85em;
			height: 35px;
			padding: 10px;
			color: #FFF;
			position: absolute;
			bottom: 0;
			left: 0;
			right: 0;
			background-color: rgba(30, 45, 58, 0.5);
			-webkit-transition: all .6s ease-out;
			-moz-transition: all .6s ease-out;
			-o-transition: all .6s ease-out;
			transition: all .6s ease-out;

			& > span {
				margin-bottom: 15px;
				display: block;
				font-weight: bold;
			}

			p {
				line-height: 1.2em;
				font-size: 1em;
			}

			button {
				position: absolute;
				bottom: -80px;
				padding: 5px 10px;
				right: 10px;
				opacity: 0;
				-webkit-transition: all .6s ease-out;
				-moz-transition: all .6s ease-out;
				-o-transition: all .6s ease-out;
				transition: all .6s ease-out;
			}
		}

		&:hover {
			div.app-desc {
				height: 100%;
				background-color: rgba(30, 45, 58, 1);

				button {
					bottom: 10px;
					opacity: 1;
				}
			}
		}

	}

}
