.app-store-list {

	.app-store-list-item {
		display: inline-block;
		float: left;
		width: 140px;
		margin-right: 15px;
		padding: 0px;
		margin-top: 20px;

		span {
			display: block;
		}

		span.app-icon {

			position: relative;
			cursor: pointer;

			& > i {
				font-size: 3em;
				color: #FFF;
				line-height: 140px;
				width: 140px;
				text-align: center;
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(30, 45, 58, 0.7);
				z-index: 1;
				-webkit-transition: opacity .6s ease-out;
				-moz-transition: opacity .6s ease-out;
				-o-transition: opacity .6s ease-out;
				transition: opacity .6s ease-out;
				opacity: 0;
			}

			&::after {
				font: normal normal normal 14px/1 FontAwesome;
				content: "\f067";
				color: #FFF;
				line-height: 140px;
				width: 140px;
				font-size: 3em;
				text-align: center;
				display: block;
				z-index: 1;
				position: absolute;
				top: -30px;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 1;
				opacity: 0;
				-webkit-transition: all .6s ease-out;
				-moz-transition: all .6s ease-out;
				-o-transition: all .6s ease-out;
				transition: all .6s ease-out;
			}

			&:hover {
				&::before {
					opacity: 1;
					z-index: 1;
				}

				&::after {
					opacity: 1;
					z-index: 2;
					top: 0px;
				}
			}
		}

		div.app-desc {
			margin-top: 15px;
		}

		&.installed {
			display: none;
		}
	}

}
