html, body {
	width: 100%;
	height: 100%;
}

#content {
  height: 100%;
  overflow: hidden;
}


.main {
  overflow: auto;
  height: 100%;

  & > .user-list {
  	margin-right: 250px;
  }

}

.bg-cover-img {
	position: fixed;
	z-index: -1;
	top: -50%;
	left: -50%;
	width: 200%;
	height: 200%;

	img {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		margin: auto;
		min-width: 50%;
		min-height: 50%;
	}
}

a {
	cursor: pointer;
}

.login-container {
	  width: 400px;
	  background-color: rgba(0, 0, 0, 0.15);
	  filter: progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr='#4c000000', endColorstr='#4c000000'); /* IE */
	  border-radius: 0;
	  height: 100%;
	  color:#FFF;
	  position:relative;
	  display: table;
}

.login {
	display:table-cell;
	vertical-align: middle;
	padding-left: 35px;
	padding-right: 35px;
}

.login .errors { 
	
}

.login p {
	font-size: 14px;
	line-height: 20px;
	margin: 10px 0;
}

.login h2 {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 2em;
	font-size: 1.2em;
	font-weight: 100;
	width: 50%;
	text-align: center;
	float: left;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.login h2 a.active {
	display: block;
	background: rgba(255, 255, 255, 0.2);
}

.login h3 {
	font-family: 'Roboto Condensed', sans-serif;
	line-height: 2em;
	font-size: 1.2em;
	font-weight: 100;
	text-align: center;
	text-transform: uppercase;
	margin-bottom: 20px;
}

.login .logo {
	margin: auto;
	display: block;
}

.login button {
	margin-top: 30px;
	width: 100%;

}

.page {

	.main {
		position: relative;

	    .page-actions {
	      position: absolute;
	      top: 20px;
	      right: 25px;
	    }
	}
}

.user-list {

	.user-list-header {
		font-weight: bold;
		display: table;
		width: 100%;

		& > span {
			display: table-cell;
			vertical-align: middle;
			width: 28%;
			padding: 8px 0px;
		}

		& > span:first-child {
			width: 7%;
		}

		& > span:last-child {
			width: 50%;
		}
	}

	.user-list-item {

		// border-top: 1px solid #1A2631;
		display: table;
		padding: 7px 12px;
		width: 100%;
		color: #FFF;

		& > span {
			display: table-cell;
			vertical-align: middle;
		}

		// .user-list-item-roles {
		// 	width: 50%;

		// 	button {
		// 		padding: 6px 12px;
		// 	}
		// }

		.user-avatar {

			width: 7%;
			min-width: 30px;

			img {
				width: 100%;
				height: auto;
				float: left;
			}
		}

	}

	.loading-container {
	  margin-left: 10px;
	  margin-top: 10px;

	  div {
	    display: inline-block;
	    color: #5c798f;
	    line-height: 35px;
	    font-size: 13px;
	  }

	  .loading {
	    width: 35px;
	    height: 35px;
	    display: inline-block;
	    margin-right: 10px;
	    float: left;
	  }
	}
}

.application-list {

	margin-bottom: 20px;

	.application-list-header {
		margin-bottom: 10px;
		display: none;
	}

	.application-list-item {

		padding: 5px 0;
		border-top: 1px solid #E8E8E8;

		&:hover {
			background-color:#EFEFEF;
		}

		& > div {
			display: inline-block;

			& > span {
				display: inline-block;
				margin-right: 15px;
				vertical-align: middle;
			}

			&.application-actions {
				text-align: right;
				width: 70%;

				button {
					i {
						margin-right: 5px;
					}
				}
			}

			&.application-info {
				width: 30%;
			}
		}
		
		.application-icon {
			margin-left: 6px;
			i {
				color: #FFF;
				border-radius: 2px;
				font-size: 1.3em;
				width: 50px;
				line-height: 50px;
				text-align: center;
			}
		}
	}

}

.panel {

	&:last-child {
		margin-bottom: 30px;
	}

	.user-list {

		&::after {
			content:"";
			display: block;
			clear: both;
		}

		.user-list-item {
			color: #000;
			width: 50%;
			float: left;

			span.status {
				float: inherit;
			}

			.user-avatar {
				width: 80px;
				float: left;
				margin-right: 10px;
			}

			&:hover {
				background-color: #F0F0F0;
			}

			& > span {
				display: block;
				line-height: 1.7em;
			}
		}

		.user-list-invite {

			&::before {
			    display: block;
			    content: "";
			    clear: both;
			}

			form {
				margin-top: 20px;
			}
		}
	}
}

.app-store-list {

	.app-store-list-item {
		display: inline-block;
		float: left;
		width: 140px;
		margin-right: 15px;
		padding: 0px;
		margin-top: 20px;

		span {
			display: block;
		}

		span.app-icon {

			position: relative;
			cursor: pointer;

			& > i {
				font-size: 3em;
				color: #FFF;
				line-height: 140px;
				width: 140px;
				text-align: center;
			}

			&::before {
				content: "";
				display: block;
				position: absolute;
				top: 0;
				bottom: 0;
				left: 0;
				right: 0;
				background-color: rgba(30, 45, 58, 0.7);
				z-index: 1;
				-webkit-transition: opacity .6s ease-out;
				-moz-transition: opacity .6s ease-out;
				-o-transition: opacity .6s ease-out;
				transition: opacity .6s ease-out;
				opacity: 0;
			}

			&::after {
				font: normal normal normal 14px/1 FontAwesome;
				content: "\f067";
				color: #FFF;
				line-height: 140px;
				width: 140px;
				font-size: 3em;
				text-align: center;
				display: block;
				z-index: 1;
				position: absolute;
				top: -30px;
				bottom: 0;
				left: 0;
				right: 0;
				z-index: 1;
				opacity: 0;
				-webkit-transition: all .6s ease-out;
				-moz-transition: all .6s ease-out;
				-o-transition: all .6s ease-out;
				transition: all .6s ease-out;
			}

			&:hover {
				&::before {
					opacity: 1;
					z-index: 1;
				}

				&::after {
					opacity: 1;
					z-index: 2;
					top: 0px;
				}
			}
		}

		div.app-desc {
			margin-top: 15px;
		}
	}

}

.chat-app {

	.chat-room {

		.chat-room-list {
			display: block;
			margin: 0 -25px;
			height: 50px;
			background-color: #EFEFEF;
			margin-bottom: 25px;
			line-height: 50px;

			.chat-room-list-item {
				padding: 0 25px;
				float: left;
				cursor: pointer;
				position: relative;

				&:hover, &.active {
					background-color: #FAFAFA;
				}

				span {
					margin-right: 2px;
				}

				i {
					margin-left: 15px;
					float: inherit;
				}

				.notification {
					margin-right: 6px;
					margin-top: 16px;
				}
			}

			.create-room {
				cursor: pointer;
				color: #2980b9;
				float: left;
				padding: 0 15px;
				position: relative;

				i {
					margin-left: 15px;
					float: inherit;
				}

				.dropdown-inner {
					width: 350px;
					padding: 10px;

					input {
						background-color: #FFF;
					}
				}
			}

			.dropdown-inner {
				position: absolute;
				border: 1px solid #EEE;
				background-color: #FFF;
				top: 100%;
				margin-top: 1px;
				left: 0;
					width: 200px;

				& > span {
					display: block;
					padding: 0 10px;
					float: left;
					width: 100%;

					i {
						margin-left: 5px;
						margin-right: 5px;
					}

					&:hover {
						background-color: #EFEFEF;
					}
				}
			}
		}

		.chat-message-list {
			overflow-y: scroll;
			height: calc(100% - 165px);

			.chat-message-list-item {
				margin-top: 20px;
				margin-bottom: 10px;

				.user-info {
					line-height: 1.2em;
					.username {
						line-height: 1em;
						margin-right: 10px;
	    				color: #2980B9;
	    				font-weight: bold;
					}
					.date-format {
						font-size: .8em;
						color: #444;
						line-height: 1em;
					}
				}

				.message-content {
					margin-left: 52px;
					line-height: 1.5em;
					font-size: .92em;
					margin-top: 5px;
				}

				.user-avatar {
					float: left;
					margin-right: 10px;
				}
			}
		}

		.chat-message-send {
			 input {
			 	padding-right: 80px;
			 }

			 button {
			 	    padding-top: 10px;
			 	    padding-bottom: 10px;
			 	    margin-top: -39px;
			 	    margin-right: 1px;
			 	    border-radius:0;
			 }
		}

	}
}

.quiz-app {

	h2 {
		margin: 20px 0 25px;
	}

	.quiz-list-item {

		height: 100px;
		margin-bottom: 15px;

		.quiz-list-item-inner {
			padding: 15px;
			position: relative;
			height: 100%;
    		background-color: #EFEFEF;
    		padding-right: 110px;
    		line-height: 1.1em;
    		border-left: 2px solid #2980B9;
    		overflow: hidden;


			&::before {
				content: "";
				display: block;
				float: right;
				background-color: #2980b9;
				width: 100px;
				height: 100px;
				position: absolute;
				right: 0;
				top: 0;
				z-index: 9
			}

			&::after {
				content: "\f096";
				z-index: 10;
				display: block;
				font: normal normal normal 14px/1 FontAwesome;
				position: absolute;
				color: #FFF;
				position: absolute;
				right: 0;
				top: 0;
				font-size: 2.2em;
				width: 100px;
				line-height: 100px;
				text-align: center;
			}

			& > h3 {
				font-weight: bold;
				font-size: 1em;
				margin-bottom: 10px;
			}

			p::after {
				content: "";
				display: block;
				position: absolute;
				left: 0;
				width: 100%;
				height: 50px;
				background: -moz-linear-gradient(top,  rgba(255,255,255,0) 0%, rgba(239,239,239,1) 100%); /* FF3.6+ */
				background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(100%,rgba(239,239,239,1))); /* Chrome,Safari4+ */
				background: -webkit-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(239,239,239,1) 100%); /* Chrome10+,Safari5.1+ */
				background: -o-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(239,239,239,1) 100%); /* Opera 11.10+ */
				background: -ms-linear-gradient(top,  rgba(255,255,255,0) 0%,rgba(239,239,239,1) 100%); /* IE10+ */
				background: linear-gradient(to bottom,  rgba(255,255,255,0) 0%,rgba(239,239,239,1) 100%); /* W3C */
				filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#efefef',GradientType=0 ); /* IE6-9 */
				bottom: 0;
			}
		}

		&.done {
			.quiz-list-item-inner {
				border-color: #4caf50;
				&::before {
					background-color: #4caf50;
				}

				&::after {
					content: "\f046";
				}
			}
		}
	}
}


.quiz-create {
	form {
		textarea {
			resize: none;
			height: 120px;
		}
	}
}
