
<table cellpadding="0" cellspacing="0" border="0" align="center" width="600" class="container">
    <tr>
        <td width="100%" colspan="2" style="padding-top:65px;">
            <hr style="height:1px;border:none;color:#333;background-color:#ddd;" />
        </td>
    </tr>
    <tr>
        <td width="60%" height="50" style="padding-bottom:20px;">
            <span style="font-size:13px;color:#181818;font-family:Helvetica, Arial, sans-serif;line-height:200%;"><%= __('mail.footer.sent_to', send_to_email) %></span>
            <br/>
            <span style="font-size:11px;color:#555;font-family:Helvetica, Arial, sans-serif;line-height:200%;">33 QUAI ARLOING 69009 LYON 9EME | ITEvents</span>
        </td>
        <td width="40%" height="50" align="right" align='right' style="padding-bottom:20px;">
            <table width="100%" border="0" cellspacing="0" cellpadding="0" align='right'>
                <tr>
                    <td valign="top" width='34'></td>
                    <td width='57%'></td>
                    <td valign="top" width='34'>
                        <a href="https://www.facebook.com/NiceToMiitYou" target="_blank">
                            <img src="https://www.miit.fr/img/social/facebook.png" width='30' height='30' alt='facebook' style='margin-right:40x;'>
                        </a>
                    </td>
                    <td valign="top" width='34'>
                        <a href="https://twitter.com/NiceToMiitYou" target="_blank">
                            <img src="https://www.miit.fr/img/social/twitter.png" width='30' height='30' alt='twitter' style='margin-right:40x;'>
                        </a>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>

</td>
</tr>
</table>
</td>
</tr>
</table>
</td>
</tr>
</table>

</body>
</html>